Babel==2.5.1
debtcollector==1.18.0
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
funcsigs==1.0.2
greenlet==0.4.12
msgpack-python==0.4.8
netaddr==0.7.19
oslo.config==5.1.0
oslo.i18n==3.18.0
ovs==2.7.2
pbr==3.1.1
pytz==2017.3
PyYAML==3.12
repoze.lru==0.7
rfc3986==1.1.0
Routes==2.4.1
ryu==4.19
six==1.11.0
stevedore==1.27.1
tinyrpc==0.6
WebOb==1.7.4
wrapt==1.10.11
